@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v47-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v47-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary-white: #ffffff;
  --color-primary-blue: #2b7fff;
  --color-primary-darkBlue: #011c44;
  --color-secondary-darkGrey: #4a4a4a;
  --color-secondary-lightGrey: #747272;
  --color-secondary-darkBlue: #011f4a;
  --color-secondary-yellow: #ffd02b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: 'Roboto';
  color: var(--color-primary-darkBlue);
  font-size: 18px;
}

h2 {
  font-size: 64px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
}

.accent-color {
  color: var(--color-primary-blue);
}

/* Header styles */

.header-container {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

.header-menu,
.header-link {
  color: var(--color-primary-darkBlue);
  font-weight: 400;
}

.header-link:hover {
  font-weight: 700;
  color: var(--color-primary-blue);
}

.header-link:active {
  color: var(--color-primary-blue);
}

/* Hero section styles*/

.hero-title {
  font-size: 140px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

.call-button {
  color: var(--color-primary-white);
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-primary-blue);
}

.hero-text {
  color: var(--color-secondary-darkGrey);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

/* About company section */

.about-title > span {
  text-transform: capitalize;
}

.about-text-first,
.about-text-second {
  font-size: 22px;
  font-weight: 400;
  line-height: 38px;
}

.bold-text {
  font-weight: 700;
}

/* Usp section */
.company-usp-section {
  background-image: url(../images/usp-background.png);
}

.usp-item-image {
  width: 48px;
  height: 48px;
}

.usp-item-text {
  color: black;
}

/* Procedures section */

.slider-item {
  background: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47%,
    rgba(1, 28, 68, 0.73) 83%,
    #011c44 99%
  );
  color: var(--color-primary-white);
  font-size: 22px;
  line-height: 26px;
}

.slider-nav-elipse:hover {
  cursor: pointer;
}

/* Location section */

.location-form {
  background-color: var(--color-primary-darkBlue);
}

.form-title {
  color: var(--color-primary-white);
  font-size: 22px;
  font-weight: 600;
}

.location-form > input,
input::placeholder {
  background: transparent;
  color: var(--color-primary-white);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
}

.location-form > button {
  background-color: var(--color-primary-blue);
  color: var(--color-primary-white);
  font-weight: 600;
}

.form-confident {
  color: var(--color-secondary-lightGrey);
  font-size: 12px;
  line-height: 18px;
}

.form-confident > a {
  text-decoration: underline;
  color: var(--color-secondary-lightGrey);
}

/* Footer */

footer {
  background-color: var(--color-primary-darkBlue);
  color: var(--color-primary-white);
  font-size: 16px;
}

.footer-link, .contact-item>a {
  color: var(--color-primary-white);
  font-weight: 400;
}

.footer-link:hover, .contact-item>a:hover {
  font-weight: 700;
  color: var(--color-primary-blue);
}

.footer-link:active, .contact-item>a:active {
  color: var(--color-primary-white);
}

.footer-social-item>img {
  width: 42px;
  height: 42px;
}

.rules {
  color: var(--color-primary-white);
  font-size: 16px;
}

.copyright {
  font-size: 13px;
  color: var(--color-secondary-lightGrey);
}